.penalty-detail {
  .at-float-layout__container {
    padding: 32px;
    border-radius: 20px 20px 0 0;
    max-height: 1100px;
    .layout-body {
      max-height: 1100px;
      padding: 0;
      .layout-body__content {
        max-height: 1100px;
      }
      .lay-out-header {
        .title {
          font-size: 32px;
          color: #333;
          font-weight: bold;
        }
        .icon-close {
          font-size: 48px;
          color: #858585;
          text-align: right;
          // margin-top: 10px;
        }
      }
      .penalty-table {
        margin-top: 24px;
        font-size: 28px;
        text-align: center;
        border: 2px solid #ccd3d9;
        .cancellation-title,
        .amendment-title,
        .voluntary-title {
          height: 160px;
          padding: 30px 6px 0 6px;
          border-bottom: 2px solid #ccd3d9;
          border-left: 2px solid #ccd3d9;
        }
        .every-description {
          height: 160px;
          padding: 30px 22px 0 22px;
          font-weight: bold;
          border-bottom: 2px solid #ccd3d9;
          &:last-child {
            border-bottom: none;
          }
        }
        .every-cancellation,
        .every-amendment {
          height: 160px;
          line-height: 160px;
          padding: 0 6px;
          border-bottom: 2px solid #ccd3d9;
          border-left: 2px solid #ccd3d9;
          &:last-child {
            border-bottom: none;
          }
        }
        .voluntary {
          padding: 230px 22px 0 22px;
          height: 640px;
          border-left: 2px solid #ccd3d9;
          .content {
            display: inline-block;
            width: 30px;
          }
        }
        .descriptions {
          color: #333;
          background-color: #e4edf2;
        }
      }
      .domestic-no-penalty {
        margin-top: 24px;
        font-size: 32px;
        color: #333;
      }
      .ancillary-penalty {
        .ancillary-penalty-title {
          font-weight: bold;
          font-size: 32px;
          color: #333;
          margin: 16px 0;
          &:first-child {
            margin-top: 0;
          }
        }
        .ancillary-penalty-detail {
          font-size: 28px;
          margin-top: 8px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
