
.header-wrap{
    // position: fixed;
    position: sticky;
    top:0;
    width:100%;
    background-color:$primary-color;
    color:$white;
    font-size:$fz-16;
    line-height: 58px;
    z-index: 99;
    padding:0 10px;
  
}
.header{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    &-left{
        line-height: 30px;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        font-size: 16px;
        color: #fff;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        max-width: 200px;
        transition: 500ms;
    }

    &-right{
        flex: 1 0 0;
    position: relative;
    background: #fff;
    border-radius: 100px;
        background-color: green;
    }
}
 