.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .17);
  padding: 8px 0;
  z-index: 9;
  .nub {
    float: left;
    font-size: 24px;
    color: #b2b2b2;
    text-align: center;
    .icon {
      font-size: 48px;
    }
    &:hover, &.active {
      color: #E60023;
    }
  }
}
