/*---------------------------------
    colors panel
----------------------------------*/
$blue-7: #3F618C;
$blue-6: #5983B2;
$blue-5: #7E9FBF;
$blue-4: #A7BBCC;
$blue-3: #CCD3D9;
$blue-2: #D8E0E6;
$blue-1: #E4EDF2;

$orange-7: #D97D0D;
$orange-6: #FF9F1B;
$orange-5: #FFB845;
$orange-4: #FFCC6E;
$orange-3: #FFDE96;
$orange-2: #FFEDBF;
$orange-1: #FFF9E8;

$green-7: #006644;
$green-6: #00875A;
$green-5: #36B37E;
$green-4: #57D9A3;
$green-3: #79F2C0;
$green-2: #ABF5D1;
$green-1: #E2FFEE;

$red-7: #BF0023;
$red-6: #E60023;
$red-5: #F2273F;
$red-4: #FF5260;
$red-3: #FF7A81;
$red-2: #FFA3A5;
$red-1: #FFE6E6;

$yellow-7: #D9BF00;
$yellow-6: #FFE900;
$yellow-5: #FFF429;
$yellow-4: #FFFC52;
$yellow-3: #FDFF7A;
$yellow-2: #FAFFA3;
$yellow-1: #FDFFE6;

$gray-7: #1B1B1B;
$gray-6: #333333;
$gray-5: #858585;
$gray-4: #B2B2B2;
$gray-3: #E0E0E0;
$gray-2: #F5F5F5;
$gray-1: #FFFFFF;

$white-700: rgba(255, 255, 255, 1);
$white-600: rgba(255, 255, 255, 0.8);
$white-500: rgba(255, 255, 255, 0.6);
$white-400: rgba(255, 255, 255, 0.4);
$white-300: rgba(255, 255, 255, 0.2);
$white-200: rgba(255, 255, 255, 0.1);
$white-100: rgba(255, 255, 255, 0);

$white: #FFFFFF;
$black: #000000;
/*---------------------------------
      Site color setting
----------------------------------*/
/** Primary colors */
$primary-8: #73001d;
$primary-7: #990021;
$primary-6: #bf0023;
$primary-5: #e60023;
$primary-4: #f2273f;
$primary-3: #ff5260;
$primary-2: #ff7a81;
$primary-1: #ffe6e6;

/** Secondary colors */
$secondary-8: #8c7300;
$secondary-7: #b39800;
$secondary-6: #d9bf00;
$secondary-5: #ffe900;
$secondary-4: #fff429;
$secondary-3: #fffc52;
$secondary-2: #fdff7a;
$secondary-1: #feffe6;

/** Accent colors */
$accent-8: #73001d;
$accent-7: #990021;
$accent-6: #bf0023;
$accent-5: #e60023;
$accent-4: #f2273f;
$accent-3: #ff5260;
$accent-2: #ff7a81;
$accent-1: #ffe6e6;

/** Main color */
$primary-color: $primary-5;
$secondary-color: $secondary-5;
$accent-color: $accent-5;

$primary-light: $primary-4;
$secondary-light: $secondary-4;
$accent-light: $accent-4;

/** Success colors */
$success-main: $green-6;
$success-dark: $green-7;
$success-light: $green-5;

/** Warn colors */
$warn-main: $orange-6;
$warn-dark: $orange-7;
$warn-light: $orange-5;

/** Danger colors */
$danger-main: $red-6;
$danger-dark: $red-7;
$danger-light: $red-5;

/** Cancel colors */
$cancel-main: $gray-6;
$cancel-dark: $gray-7;
$cancel-light: $gray-5;

/** Info colors */
$info-main: $blue-6;
$info-dark: $blue-7;
$info-light: $blue-5;

/** Materials error bg */
$materials-error-bg: $gray-3;

/*---------------------------------
      Border-radius setting
----------------------------------*/
$border-radius-sm: 4px;
$border-radius-md: 6px;
$border-radius-lg: 8px;
$border-radius-base: $border-radius-sm;

/*---------------------------------
      Border setting
----------------------------------*/
$border-width-normal: 1px;
$border-width-bold: 2px;
$border-input-normal-color: $gray-3;
$border-input-hover-color: $blue-3;
$border-input-focus-color: $blue-6;
$checkbox-radio-color: $red-6;

/*---------------------------------
      Page setting
----------------------------------*/
$body-background: $gray-2;
$container-max-width: 1200px;

/*---------------------------------
      Link setting
----------------------------------*/
$link-color: $blue-6;
$link-hover-color: $blue-5;
$link-active-color: $blue-7;
$link-decoration: none;
$link-hover-decoration: none;

/*---------------------------------
      Shadow setting
----------------------------------*/
/** Shadow color setting */
$shadow-color-0: rgba(0, 0, 0, 0.03);
$shadow-color-1: rgba(0, 0, 0, 0.05);
$shadow-color-2: rgba(0, 0, 0, 0.06);
$shadow-color-3: rgba(0, 0, 0, 0.08);
$shadow-color-4: rgba(0, 0, 0, 0.12);
$shadow-color-5: rgba(0, 0, 0, 0.15);

$shadow-color-6: rgba(27, 27, 27, 0.02);
$shadow-color-7: rgba(27, 27, 27, 0.05);
$shadow-color-8: rgba(27, 27, 27, 0.17);

$shadow-color-9: rgba(51, 51, 51, 0.07);

/** Shadow color setting */
$shadow-default: 0px 8px 16px 0px $shadow-color-9, 0px 1px 3px 0px $shadow-color-7;
$shadow-small: 0px 4px 8px 0px $shadow-color-6, 0px 1px 3px 0px $shadow-color-6;
$shadow-large: 0px 16px 32px -4px $shadow-color-8, 0px 1px 3px 0px $shadow-color-6;
$shadow-around: 0px 2px 10px 0px $shadow-color-2;
$shadow-gray: 0 0 3px 0 $gray-3;
$shadow-popover: 0px 2px 7px 0px $shadow-color-3;
$shadow-popup: 0 3px 6px -4px $shadow-color-4,  0 6px 16px 0 $shadow-color-3, 0 9px 28px 8px $shadow-color-1;

/** ant Shadow setting */
$shadow-ant-1-up: 0 -6px 16px -8px $shadow-color-3, 0 -9px 28px 0 $shadow-color-1,
  0 -12px 48px 16px $shadow-color-0;
$shadow-ant-1-down: 0 6px 16px -8px $shadow-color-3, 0 9px 28px 0 $shadow-color-1,
0 12px 48px 16px $shadow-color-0;
$shadow-ant-1-left: -6px 0 16px -8px $shadow-color-3, -9px 0 28px 0 $shadow-color-1,
-12px 0 48px 16px $shadow-color-0;
$shadow-ant-1-right: 6px 0 16px -8px $shadow-color-3, 9px 0 28px 0 $shadow-color-1,
12px 0 48px 16px $shadow-color-0;
$shadow-ant-2: 0px 16px 32px -4px $shadow-color-8, 0px 1px 3px 0px $shadow-color-6;

$layout-body-background: $body-background;

$textAlign: left;
$textSize: 24px;